{% load static %}

<style media="screen">
  a.nav-link:hover{
     color: orange;
  }
</style>

<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">
          <span data-feather="home"></span>
          Panel de Doctor
        </a>
      </li>
      <li class="nav-item item-nav">
        <a class="nav-link" href="{% url 'users_info' %}">
          <span data-feather="file"></span>
          Pacientes
        </a>
      </li>
      <li class="nav-item item-nav">
        <a class="nav-link" href="{% url 'consultas' %}">
          <span data-feather="file"></span>
          Consultas
        </a>
      </li>
      <li class="nav-item item-nav">
        <a class="nav-link" href="{% url 'recetas' %}">
          <span data-feather="file"></span>
          Recetas
        </a>
      </li>
      <li class="nav-item item-nav">
        <a class="nav-link" href="{% url 'citas' %}">
          <span data-feather="file"></span>
          Citas
        </a>
      </li>
      <li class="nav-item item-nav">
        <a class="nav-link" href="{% url 'equipos' %}">
          <span data-feather="file"></span>
          Equipos
        </a>
      </li>
      <hr>
      <li class="nav-item item-nav">
        <form action="{% url 'logout' %}" method="post">{% csrf_token %}
      <a class="nav-link" href="" method="POST">
        <span data-feather="file-text"> <input
            style="background: none;border: none;padding: 0;/*optional*/font-family: arial, sans-serif;/*input has OS specific font-family*/color: #069;cursor: pointer;" type="submit" value="Salir"/></span>
      </a>
    </form>
      </li>
    </ul>
  </div>
</nav>
