{% extends 'base.html' %}{% block content %}


<h1>Informacions</h1>
<ul class="list-group">
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>

</ul>
<p>asd</p>
<ul class="list-group">
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>

</ul>
<ul class="list-group">
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>

</ul>
<ul class="list-group">
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>

</ul>

<div class="container mt-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="">Expenses</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Add Expenses</li>
    </ol>
  </nav>
</div>

</main>

{% endblock %}
