{% extends 'base.html' %} {% block content %}

  <main class="col-md-10 ms-sm-auto col-lg-12 px-md-4">
    <p>{{ message }}</p>
    <p>{{ id_user }}</p>
    <div class="container">

      <form class="needs-validation" action="{% url 'update_profile' id_user %}" method="post">
        {% csrf_token %}
        <div class="row g-3">
          <div class="col-md-4">
          <div class="input-group-prepend">
            <span class="input-group-text" id="">Nombres y Apellidos: </span>
          </div>
          <input name='first-name' type="text" class="form-control" placeholder="Nombres" value="{{ user.first_name }}">
          <input name='last-name' type="text" class="form-control" placeholder="Apellidos" value="{{ user.last_name }}">
        </div>
        <div class="col-md-4">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Sexo: </label>
          </div>
          <select name='sexo' class="custom-select " id="inputGroupSelect01">
            <option value="1">Masculino</option>
            <option value="2">Femenino</option>
          </select>
        </div>
        <div class="col-md-4">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Cédula: </label>
          </div>
          <input name='ci' type="text" class="form-control" placeholder="Cedula de Identitdad">
        </div>
      </div>

        <div class="row g-3">
            <div class="col-md-4">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Ciudad: </label>
              </div>
              <input name='ciudad' type="text" class="form-control" placeholder="Ciudad">
              </div>

              <div class="col-md-4">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Direccion: </label>
                </div>
                <input name='direccion' type="text" class="form-control" placeholder="Direccion">
              </div>

              <div class="col-md-4">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Aseguradora: </label>
                </div>
                <input name='aseguradora' type="text" class="form-control" placeholder="Aseguradora">
              </div>
        </div>
        <div class="row g-3">

          <div class="col-md-4">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Ocupacion: </label>
            </div>
            <input name='ocupacion' type="text" class="form-control" placeholder="Ocupacion">
          </div>

          <div class="col-md-4">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Grupo Sanguineo: </label>
            </div>
            <input name='sangre' type="text" class="form-control" placeholder="Grupo Sanguineo">
          </div>

          <div class="col-md-4">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Numero de hijos: </label>
            </div>
            <input name='num_hijos' type="text" class="form-control" placeholder="Numero de hijos">
          </div>

        </div>

        <div class="row g-3">
          <div class="col-md-4">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Fecha de Nacimiento: </label>
            </div>
            <input name='b-date' type="date" class="form-control" placeholder="Fecha de Nacimiento">
          </div>
          <div class="col-md-4">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Correo Electronico: </label>
            </div>
            <input name='email' type="email" class="form-control" placeholder="Correo Electronico" value="{{ user.email }}">
          </div>
          <div class="col-md-4">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Estado Civil: </label>
            </div>
            <input name='estado_civil' type="text" class="form-control" placeholder="Estado Civil">
          </div>
        </div>
        <div class="row g-3">
          <div class="col-md-12 text-center">
            <input type="submit" value="Actualizar Informacion" class="btn btn-block btn-primary submit-btn"/>
          </div>
        </div>

      </form>
    </div>


</main>
{% endblock %}
