{% extends 'base.html' %} {% block content %}

<h1>New request</h1>

<ul class="list-group">
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>
  <li class="list-group-item">Agendar cita</li>

</ul>
{% endblock %}
